<div id="project_config_slack" class="well">
  <button class="btn btn-success" ng-click="save()" ng-disabled="saving">Save</button>
  <button class="btn btn-info" ng-click="help()">Readme.md</button>
    <button class="btn btn-primary" ng-click="fillEmptyFields()">fill Empty Fields </button>
  <button class="btn btn-info" ng-click="test()" ng-disabled="testing">Test</button>
  <button class="btn btn-info" ng-click="chatId()" ng-disabled="testing">get chat id</button>

  <fieldset>
    <legend>Configuration</legend>
    <label for="api_token">
      <a href="https://core.telegram.org/bots#3-how-do-i-create-a-bot">Create Bot in Telegram and obtain api_key</a>
      Télegram Bot Api token:
    </label>
    <input type="text" class="span12"
    ng-model="config.bot_api_key"
    placeholder="455512:AFPPEF-9R_fffffff-TUcccldmldd">
    <br/>
    <label for="channel">Channel</label>
    <input type="text" name="channel"
           placeholder="channel name where to push information (@channel_name)" class="span6"
    ng-model="config.channel">
    <br>
    <label for="channel_chat_id">Chat Id (see the readme) </label>
    <input type="text" name="channel_chat_id" class="span6" disabled="disabled"
    ng-model="config.channel_chat_id">
    <br>
  </fieldset>

  <fieldset>
    <legend>Customization</legend>
    <label for="deploy_pass_message">Deploy Pass Message</label>
    <textarea name="deploy_pass_message" ng-model="config.deploy_pass_message"></textarea>
    <br>
    <label for="deploy_fail_message">Deploy Fail Message</label>
    <textarea name="deploy_fail_message" ng-model="config.deploy_fail_message"></textarea>
  </fieldset>
  <button class="btn btn-success" ng-click="save()" ng-disabled="saving">Save</button>
  <button class="btn btn-info" ng-click="help()">Readme.md</button>
   <button class="btn btn-primary" ng-click="fillEmptyFields()">fill Empty Fields</button>
  <button class="btn btn-info" ng-click="test()" ng-disabled="testing">Test</button>
  <button class="btn btn-info" ng-click="chatId()" ng-disabled="testing">get chat id</button>
</div>

<div id="readme-telegram" class="modal hide fade" role="dialog" aria-hidden="true">
  <div class="modal-body">
    <p>

        <a href="https://github.com/JohannHospice/strider-telegram" target="_blank"> See the official repository of project. </a>
    </p>
  </div>
</div>
